@media ( max-width: 1600px)
    .swiper3
        display: none
@media ( max-width: 1200px)
    .container
        max-width: 960px
    .header
        width: 1200px
    .home
        &-info
            padding: 230px 0 0 87px
            width: 600px
            &__title
                font-size: 38px
            &__block
                height: 160px
        &-image
            width: 600px
    .spring
        padding: 0px 0px 100px 0px
        &-wrapper
            width: 960px
            margin: auto
        &-info
            &__text
                margin-right: 40px
        &-image
            width: 600px
            height: 400px
    .order
        padding: 0px 0px 100px 0px
        &-wrapper
            width: 960px
            margin: auto
        &-image
            width: 600px
            height: 400px
        &-info
            display: flex
            width: 300px
            height: 290px
    .swiper1
        margin-bottom: 100px
        width: 100%
        height: 480px
        background-size: 100%
        &-button
            padding: 0
            top: 278px
            width: 100px
            height: 100px
            background: rgba(229, 229, 229, 0.2)
            border-radius: 50%
            border: none
            cursor: pointer
            background-repeat: no-repeat
            background-position: center
            &::after
                content: ''
            &-prev
                left: 95px
                background-image: url(../img/arrow-prev.svg)
            &-next
                right: 95px
                background-image: url(../img/arrow-next.svg)
        &-pagination
            &-bullet
                background-color: inherit
                width: 8px
                height: 8px
                border: 1px solid rgba(255, 255, 255, 0.6)
                &-active
                    background-color: white
                    width: 11px
                    height: 11px
    .ambassador
        padding: 0px 0px 100px 0px
        &-wrapper
            width: 1200px
        &-info
            display: flex
            align-items: center
            justify-content: center
            height: 400px
            &__block
                margin: 0
                width: 330px
                height: 190px
            &__text
                font-size: 20px
    .catalog
        &-assortment
            height: 1643px
            &__jacket
                &--mobile
                    &_hidden
                        display: none
    .character
        &-dropdown
            &__color
                left: 104px
            &__size
                left: 195px
            &__sort
                left: 804px
    .card
        margin-right: 20px
        margin-left: 20px
        &-jackets
            width: 550px
            height: 630px
        &-main
            width: 425px
            height: 630px
        &-info
            width: 361px
            height: 736px
            &__line
                width: 360px
            &__color
                margin-bottom: 22px
            &__button-light
                display: none
    .complete
        &__title
            font-size: 30px
    .swiper2
        width: 960px
        height: 553px
        &-slide2
            &__image
                width: 270px
                height: 350px
            &__select
                width: 270px
            &__text, &__price
                font-size: 14px
        &-button2
            top: 483px
            width: 55px
            height: 55px
            &__prev
                left: 395px
                background-image: url(../img/card-arrow-prev.svg)
            &__next
                right: 395px
                background-image: url(../img/card-arrow-next.svg)
    .swiper3
        display: none
    .footer
        &-info
            &__follows
                margin-right: 5px
    .bag
        padding: 45px 20px
        width: 490px
    .contacts
        padding: 45px 20px
        width: 690px
    .thank
        padding: 45px 20px
        width: 690px

@media (max-width: 640px)
    .container
        width: 600px
        margin: auto
    .header
        max-width: 640px
    .navbar
        height: 60px
    .navbar
        width: 600px
        &-button
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            padding: 0
            background-color: inherit
            border: none
            cursor: pointer
            width: 30px
            height: 16px
        &-block
            display: none
        &-logo
            margin-right: 0
            margin-left: 10
            width: 150px
            height: 60px
    .home
        padding-bottom: 0px
        &-info
            display: none
        &-image
            width: 640px
    .spring
        padding: 50px 0 0px 0
        &-wrapper
            display: flex
            flex-direction: column
            justify-content: space-between
            max-width: 640px
            height: 690px
        &-info
            margin: 0
        &-image
            width: 640px
            height: 400px
    .order
        padding: 50px 0 50px 0
        &-wrapper
            display: flex
            flex-direction: column
            justify-content: space-between
            max-width: 640px
            height: 690px
        &-image
            width: 640px
            height: 400px
        &-info
            width: 485px
            height: 249px
            &__title
                font-size: 25px
            &__text
                font-size: 15px
    .swiper
        margin-bottom: 0
        width: 640px
        height: 320px
        background-size: 100%
        &-button
            padding: 0
            top: 170px
            width: 50px
            height: 50px
            border-radius: 50%
            border: none
            cursor: pointer
            background-color: inherit
            background-repeat: no-repeat
            background-position: center
            &::after
                content: ''
            &-prev
                left: 40px
                background-image: url(../img/arrow-prev.svg)
            &-next
                right: 40px
                background-image: url(../img/arrow-next.svg)
        &-pagination
            &-bullet
                background-color: inherit
                width: 6px
                height: 6px
                border: 1px solid rgba(255, 255, 255, 0.6)
                &-active
                    background-color: white
                    width: 8px
                    height: 8px
    .ambassador
        padding: 50px 0 50px 0
        &-wrapper
            max-width: 640px
        &-info
            display: flex
            align-items: center
            justify-content: center
            width: 900px
            height: 400px
            &__block
                margin: 0
                width: 270px
                height: 190px
            &__text
                font-size: 15px
    .icon
        width: 69px
        &__image
            &--mobile
                &_hidden
                    display: none
    .character
        margin-bottom: 21px
        &__span
            font-size: 14px
            line-height: 16px
        &-dropdown
            &__color
                top: 232px
                left: 10px
            &__size
                top: 232px
                left: 102px
            &__sort
                top: 232px
                left: 350px
    .catalog
        padding-top: 23px
        &-breadcrumb
            margin-bottom: 20px
            &__item
                font-size: 12px
                line-height: 14px
        &-text 
            margin-bottom: 44px
            font-size: 14px
            line-height: 16px
        &-assortment
            height: 1314px
            &__jacket
                width: 280px
                height: 350px
            &__text
                font-size: 14px
                line-height: 16px
            &__price
                font-size: 14px
                line-height: 16px
        &-button
            margin-bottom: 50px
            &__button
                width: 200px
                font-size: 14px
                line-height: 16px
    .card
        &-breadcrumb
            margin-bottom: 20px
            &__item
                font-size: 12px
                line-height: 14px
        &-wrapper
            max-width: 600px
        &-jackets
            flex-direction: column-reverse
        &-main
            width: 280px
            height: 450px
        &-choice
            flex-direction: row
            flex-wrap: wrap
            width: 280px
            height: 180px
            &__image
                margin-top: 20px
                margin-right: 100px
                width: 80px
                height: 80px
                &:not(&_5)
                    margin-right: 0px
        &-info
            width: 281px
            height: 700px
            &__articl
                font-size: 14px
                line-height: 16px
            &__title
                font-size: 20px
                line-height: 23px
            &__price
                font-size: 16px
                line-height: 19px
            &__line
                width: 280px
            &__color
                height: 149px
                margin-bottom: 23px
            &__choose
                font-size: 14px
                line-height: 16px
            &__item
                font-size: 14px
                line-height: 16px
            &__size
                width: 280px
                height: 109px
            &__size-block
                display: block
                width: 275px
            &__size-item
                display: inline-block
                margin-right: 20px
                margin-bottom: 20px
                font-size: 14px
                line-height: 16px
            &__size-item-58, &__size-item-60
                margin-bottom: 0
            &__button-dark
                width: 280px
            &__text, &__link
                font-size: 14px
                line-height: 22px
            &__button-light
                display: none
    .complete
        &__line
            margin-bottom: 46px
        &__title
            margin-bottom: 34px
            font-size: 22px
            line-height: 26px
    .swiper2
        width: 600px
        height: 444px
        &-slide2
            &__image
                width: 280px
                height: 350px
        &-button2
            display: none
    .swiper3
        display: none
    .footer
        &-form
            margin-bottom: 0
            &__title
                margin-bottom: 20px
                font-size: 18px
            &__input
                width: 220px
                height: 50px
                margin-bottom: 48px
            &__image
                top: 18px
                right: 22px
                bottom: 18px
                left: 180px
        &-info
            display: flex
            flex-direction: column
            &__block-customer, &__block-about, &__block-general
                &--mobile
                    &_hidden
                        display: none
            &__title
                margin-top: 0
                margin-bottom: 19px
                font-size: 14px
            &__follows
                margin-right: 0
            &__follows-links
                width: 173px
                height: 18px
            &__image
                height: 95%
    .bag
        padding: 20px 20px 40px 20px
        width: 640px
        right: -19px
        &-wrapper
            margin: auto
        &-title
            &__title
                font-size: 18px
                line-height: 21px
        &-info
            &__span
                font-size: 14px
                line-height: 16px
        &-price
            &__span, &__link
                font-size: 14px
                line-height: 16px
        &-total
            &__span
                font-size: 14px
                line-height: 16px
    .contacts
        padding: 20px 20px 40px 20px
        width: 640px
        right: -19px
        &__line
            width: 600px
        &-wrapper
            width: 600px
        &-title
            &__title
                margin-bottom: 46px
                font-size: 28px
                line-height: 32px
        &-sign
            &__span, &__link
                font-size: 14px
                line-height: 16px
            &__input
                width: 290px
                height: 45px
            &__form
                width: 600px
        &-address
            &__title
                    margin: 0 0 18px 0
                    font-size: 18px
                    line-height: 21px
            &__input
                width: 290px
                height: 45px
            &__form
                width: 600px
        &-info
            height: 225px
            &__block
                height: 91px
            &__title
                margin: 0 0 14px 0
                font-size: 18px
                line-height: 21px
            &__text, &__link
                font-size: 14px
                line-height: 16px
        &-checkbox
            display: none
    .thank
        padding: 20px 20px 40px 20px
        width: 640px
        right: -19px
        &-wrapper
            width: 600px
        &-block
            &__span
                font-size: 14px
                line-height: 16px
        &-info
            &__title
                margin: 0 0 33px 0
                font-size: 20px
                line-height: 23px
            &__text, &__link
                font-size: 14px
                line-height: 16px
        &-form
            &__title
                margin: 73px 0 20px 0
                font-size: 18px
                line-height: 21px
            &__input
                width: 220px
            &__image
                left: 180px
    .menu
        &__line
            width: 350px
@media (max-width: 320px)
    .header
        max-width: 320px
    .container
        width: 300px
        margin: auto
    .navbar
        width: 300px
        height: 50px
        &__button
            display: flex
            flex-direction: column
            align-items: center
            justify-content: space-between
            padding: 0
            background-color: inherit
            border: none
            cursor: pointer
            width: 30px
            height: 16px
        &__block
            display: none
        &-logo
            margin-left: 20px
            width: 110px
            height: 50px
    .home
        &-image
            width: 320px
    .spring
        padding: 50px 0 50px 0
        &-wrapper
            display: flex
            flex-direction: column
            justify-content: space-between
            max-width: 320px
            height: 520px
        &-info
            margin: 0
            width: 250px
            height: 230px
            &__title
                font-size: 18px
            &__text
                font-size: 11px
                line-height: 20px
            &__link
                font-size: 10px
        &-image
            width: 320px
            height: 270px
    .order
        padding: 0 0 50px 0
        &-wrapper
            display: flex
            flex-direction: column
            justify-content: space-between
            max-width: 320px
            height: 520px
        &-image
            width: 320px
            height: 240px
        &-info
            display: flex
            width: 250px
            height: 230px
            &__title
                font-size: 18px
            &__text
                font-size: 11px
                line-height: 20px
            &__link
                font-size: 10px
    .swiper1
        display: none
    .ambassador
        padding: 0 0 50px 0
        &-wrapper
            padding: 0
            display: flex
            flex-direction: column
            justify-content: space-between
            max-width: 320px
            height: 400px
        &-info
            display: flex
            align-items: center
            justify-content: center
            width: 320px
            height: 400px
            &__block
                margin: 0
                width: 270px
                height: 150px
            &__text
                font-size: 13px
            &__link
                font-size: 10px
    .icon
        width: 69px
        &__image
            &--mobile
                &_hidden
                    display: none
    .logo
        width: 110px
        height: 50px
        margin: 0
    .character
        display: none
    .catalog
        &__line
            display: none
        &__button-light
            display: flex
        &-button
            &__button
                width: 300px
        &-assortment
            min-height: 1844px
            &__jacket
                width: 300px
                height: 434px
                &--mobile
                    &_visible
                        display: none
            &__image
                width: 300px
    .card
        padding-top: 23px
        &-breadcrumb
            width: 294px
            &__list
                margin-bottom: 23px
            &__item
                font-size: 11px
                line-height: 14px
        &-wrapper
            flex-direction: column
            width: 300px
        &-jackets
            display: none
        &__select
            flex-direction: column
        &-info
            height: 900px
            &__line, &__color, &__size
                display: none
            &__button-light
                display: flex
            &__button
                width: 100%
    .swiper2
        width: 300px
        height: 454px
        &-slide2
            &__select
                width: 300px
            &__image
                width: 300px
                height: 370px
        &-button2
            display: none
    .swiper3
        display: block
        margin-bottom: 25px
        width: 300px
        height: 394px
        &-slide3
            padding-right: 20px
            height: 394px
            &__select
                display: none
            &__image-item
                border: 1px solid #E5E5E5
                width: 300px
                height: 370px
                object-fit: cover
    .footer
        &__line
        &-form
            margin-bottom: 0
            &__image
                left: 150px
            &__title
                margin-bottom: 20px
                font-size: 18px
            &__input
                width: 300px
                height: 50px
                margin-bottom: 48px
            &__image
                top: 18px
                right: 22px
                bottom: 18px
                left: 260px
            &__span
                font-size: 14px
        &-info
            display: flex
            flex-direction: column
            &__block-customer, &__block-about, &__block-general
                &--mobile
                    &_hidden
                        display: none
            &__title
                margin-bottom: 19px
                font-size: 14px
            &__follows-links
                width: 173px
                height: 18px
            &__image
                height: 95%
    .bag
        padding: 20px 10px 40px 10px
        width: 320px
        right: 0px
        &__line
            width: 300px
        &-wrapper
            width: 300px
            margin: auto
        &-title
            width: 300px
            &__title
                font-size: 20px
                line-height: 23px
        &-info
            &__image
                margin-bottom: 20px
                width: 89px
                height: 150px
        &-price
                margin-left: 0
                margin-bottom: 146px
                width: 300px
        &-total
            height: 102px
            &__span

    .contacts
        padding: 20px 10px 40px 10px
        width: 320px
        right: 0px
        &__line
            width: 300px
        &-wrapper
            width: 300px
        &-title
            &__title
                margin-bottom: 41px
                font-size: 28px
                line-height: 32px
        &-sign
            &__span, &__link
                font-size: 14px
                line-height: 16px
            &__input
                width: 300px
                height: 45px
            &__form
                flex-direction: column
                height: 110px
        &-address
            &__title
                    margin: 0 0 15px 0
                    font-size: 18px
                    line-height: 21px
            &__input
                width: 300px
                height: 45px
            &__form
                flex-direction: column
                height: 110px
        &-info
            display: none
        &-checkbox
            display: none
    .thank
        padding: 20px 10px 40px 10px
        width: 320px
        right: 0px
        &-wrapper
            width: 300px
        &-block
            &__span
                font-size: 14px
                line-height: 16px
        &-info
            width: 300px
            &__title
                margin: 0 0 33px 0
        &-form
            &__input
                width: 300px
            &__image
                left: 255px
    .menu
        top: 50px
        padding: 50px 10px
        &__line
            width: 300px
        &-mobile
            width: 320px
        &-assortment
            width: 320px
            padding: 50px 10px
            &__item
                width: 300px
    .overlay
        display: none
