*
    box-sizing: border-box

@font-face
    font-family: "GTEestiProDisplay-Thin"
    src: url("../fonts/GTEestiProDisplay-Thin.woff") format("woff")
    src: url("../fonts/GTEestiProDisplay-Thin.woff2") format("woff2")
@font-face
    font-family: "GTEestiProDisplay-Light"
    src: url("../fonts/GTEestiProDisplay-Light.woff") format("woff")
    src: url("../fonts/GTEestiProDisplay-Light.woff2") format("woff2")

body
    font-family: "GTEestiProDisplay-Thin"
img
    max-width: 100%
.container
    width: 1200px
    margin: auto
