.modal-overlay
    position: fixed
    left: 0
    top: 0px
    width: 100%
    height: 100%
    background-color: rgba(38, 38, 38, 0.75)
    transition: opacity 0.2s
    display: none
    z-index: 3
    &--visibile
        display: block
.search
    position: absolute
    left: 1033px
    top: 40px
    z-index: 1001
    background-color: $bg-color1
    display: none
    animation: search 0.5s ease-in 1 both reverse
    &--visibile
        display: block
    &-wrapper
        display: flex
        justify-content: space-between
        width: 369px
    &-form
        display: flex
        justify-content: space-between
        width: 320px
        height: 20px
    &-input
        width: 271px
        background-color: inherit
        border-bottom: 1px solid $text-color2
        border-top: none
        border-left: none
        border-right: none
        color: #fff
    &-button
        padding: 0
        border: none
        background-color: inherit
        cursor: pointer

@keyframes search
    0%
        opacity: 1
        transform: translateX(0px)
    100%
        opacity: 0
        transform: translateX(100%)

.bag
    position: absolute
    padding: 45px 200px
    width: 850px
    right: -108px
    top: 0
    z-index: 1001
    background-color: #fff
    display: none
    animation: bag 0.5s ease-in 1 both reverse
    &--visibile
        display: block
    &__line
        margin-bottom: 22px
        width: 450px
    &-wrapper
        width: 450px
    &-title
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 43px
        width: 450px
        &__title
            margin: 0
            font-family: GTEestiProDisplay-Light
            color: $text-color3
            font-style: normal
            font-weight: 350
            font-size: 28px
            line-height: 32px
            letter-spacing: 0.02em
    &-info
        display: flex
        width: 450px
        &__image
            margin-right: 20px
            width: 168px
            height: 180px
            background-image: url(../img/jacket-1.png)
            background-repeat: no-repeat
            background-position: center
            background-size: 100%
            border: 1px solid #E5E5E5
        &__text
            display: flex
            flex-direction: column
            justify-content: space-between
            width: 192px
            height: 157px
        &__title
            margin: 0
            font-family: GTEestiProDisplay-Light
            color: $text-color3
            font-style: normal
            font-weight: 350
            font-size: 18px
            line-height: 21px
        &__span
            color: $text-color2
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
    &-price
        display: flex
        justify-content: space-between
        margin-left: 187px
        margin-bottom: 262px
        width: 263px
        &__span
            color: $text-color2
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
        &__link
            text-decoration: none
            color: $text-color3
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
    &-total
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 116px
        &__span
            color: $text-color2
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
        &__button
            height: 50px
            padding: 16px 0
            color: white
            font-weight: 300
            font-size: 16px
            line-height: 19px
            letter-spacing: 0.03em
            border: none

@keyframes bag
    0%
        opacity: 1
        transform: translateX(0px)
    100%
        opacity: 1
        transform: translateX(100%)

.contacts
    position: absolute
    right: -108px
    top: 0
    z-index: 1001
    padding: 40px 200px 70px 200px
    width: 1050px
    background-color: $bg-color1
    display: none
    animation: contacts 0.5s ease-in 1 both reverse
    &--visibile
        display: block
    &--hidden
        display: none
    &__line
        margin-bottom: 20px
        width: 650px
        height: 1px
        background-color: $text-color2
    &-wrapper
        width: 651px
    &-title
        display: flex
        justify-content: space-between
        &__title
            margin-top: 0
            margin-bottom: 36px
            font-style: normal
            font-weight: 300
            font-size: 40px
            line-height: 46px
            letter-spacing: 0.02em
            color: #BCBCBC
        &__button
            width: 19px
            height: 19px
    &-sign
        &__span
            color: #BCBCBC
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
        &__link
            display: inline-block
            margin-bottom: 20px
            color: $text-color2
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
    &-address
        &__title
            margin: 0 0 18px 0
            font-style: normal
            font-weight: 300
            font-size: 28px
            line-height: 32px
            letter-spacing: 0.03em
            color: #BCBCBC
        &__comment
            margin-bottom: 47px
            width: 100%
            height: 167px
    &-info
        display: flex
        flex-direction: column
        justify-content: space-between
        margin-bottom: 93px
        width: 368px
        height: 250px
        &__title
            margin: 0 0 18px 0
            font-style: normal
            font-weight: 300
            font-size: 18px
            line-height: 21px
            letter-spacing: 0.03em
            color: #BCBCBC
        &__text
            margin: 0
            color: $text-color2
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
        &__link
            color: #BCBCBC
    &-checkbox
        display: flex
        justify-content: space-between
        align-items: center
        margin-bottom: 49px
        width: 329px
        &__input
            appearance: none
            position: relative
            background-color: inherit
            border: 1px solid $text-color2
            width: 17px
            height: 17px
            &--active
                background-color: inherit
        &__span
            color: $text-color2
        &__link
            text-decoration: none
            color: #BCBCBC

@keyframes contacts
    0%
        opacity: 1
        transform: translateX(0px)
    100%
        opacity: 1
        transform: translateX(100%)

.thank
    position: absolute
    top: 0
    right: -108px
    z-index: 1001
    padding: 47px 200px 50px 200px
    width: 1050px
    background-color: $bg-color1
    display: none
    animation: thank 0.5s ease-in 1 both reverse
    &--visibile
        display: block
    &--hidden
        display: none
    &-wrapper
        width: 651px
    &-block
        display: flex
        justify-content: space-between
        margin-bottom: 38px
        &__span
            color: $text-color2
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
    &-info
        width: 453px
        &__title
            margin: 0 0 37px 0
            color: #BCBCBC
            font-style: normal
            font-weight: 300
            font-size: 40px
            line-height: 46px
            letter-spacing: 0.02em
        &__text
            margin: 0 0 47px 0
            color: #BCBCBC
            font-style: normal
            font-weight: 300
            font-size: 16px
            line-height: 19px
        &__link
            color: #BCBCBC
    &-form
        &__title
            margin: 91px 0 43px 0
            color: #BCBCBC
            font-style: normal
            font-weight: 300
            font-size: 28px
            line-height: 32px
            letter-spacing: 0.03em
        &__form
            position: relative
            margin-bottom: 100px
        &__input
            width: 285px
            background-color: inherit
            border: 1px solid $text-color2
        &__image
            position: absolute
            top: 21px
            left: 240px

@keyframes thank
    0%
        opacity: 1
        transform: translateX(0px)
    100%
        opacity: 1
        transform: translateX(100%)









